body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(243, 244, 246, 1);	
}
.titlediv{
    display: flex;
    margin: 30px;
}
#title{
    font-size: 30px;
    align-items: center;
}
#add{
    padding: 6px;
    font-size: 16px;
    align-items: center;
    position: absolute;
    right:40px;
}

#imgadd{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    margin:30px;
}


.parentnote{
    margin:20px 20px 0px 20px;
    padding: 10px;
    min-height: 100px;
    min-width: 200px;
    max-width: 300px;
    border-radius: 20px;
}
.newnote{
    min-height: 50px;
    border-bottom: none;
    font-size: 22px;
    padding: 8px;
    color:black;
}
.newnote:focus{
    outline:none ;
}
.removebtn{
    position: absolute;
    bottom:10px;
    right: 10px;
    width:20px;
    height: 20px;
    cursor: pointer;
}
.bottomdiv{
    min-height: 50px;
    padding: 8px;
    border-top:none;
    position: relative;
}
.mainnotes{
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    margin: auto;
}
.parentdiv{
    margin: 28px 28px 0px 28px;
    border-radius: 7px;
    box-shadow:0 0 5px #999;
    min-width: 200px;
    min-height: 150px;
    max-width: 700px;
    padding: 8px;
}
.parentdiv:focus{
    outline: none;
}

input[type="checkbox"]{
    padding: 5px;
}
.divruler{
    padding: 0;
    margin: 0;
    border-top:2px solid rgba(156, 163, 175,1);
    border-radius: 1px;
}
.titleofnote{
    margin: 0;
    padding: 8px;
    font-size: 20px;
    border: none;   
 }
 .titleofnote:focus{
    outline: none;
 }
.contentdiv{
    padding: 8px;
    font-size: 18px;
    border: none;
    max-width: 700px;
    min-height:50px ;
    max-height:400px ;
}
.contentdiv:focus{
    outline: none;
}
.toolbox{
    position: relative;
    min-height: 50px;
    max-height: 50px;
}
.optionsdiv{
    font-size: 22px;
    padding: 20px;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 252, 191);
    border-radius: 10px;
    position: fixed;
    top:100px;
    right:40px;
}

.changecolor{
    position: absolute;
    bottom:10px;
    right: 50px;
    width:20px;
    height: 20px;
    cursor: pointer;
}
input[type="file"]{
    display: none;
}
.fileuploader{
    width: 20px;
    height: 20px;
    text-align: center;
    background-color:white  ;
    color: black;
    position: absolute;
    bottom:7px;
    right: 90px;
    cursor: pointer;
    padding: 3px;
}
.stickynotebtn{
    position: absolute;
    bottom:10px;
    right: 140px;
    width:20px;
    height: 20px;
    cursor: pointer;
}
